<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isPurchase</key>
		<true/>
		<key>icon</key>
		<string></string>
		<key>ProductCode</key>
		<string></string>
		<key>filters</key>
		<array>
			<dict>
				<key>icon</key>
				<string>Filter_1</string>
				<key>filterName</key>
				<string></string>
				<key>level</key>
				<string>3</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>Filter_2</string>
				<key>filterName</key>
				<string>FWAmaroFilter</string>
				<key>level</key>
				<string>0</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>Filter_3</string>
				<key>filterName</key>
				<string>FWBrannanFilter</string>
				<key>level</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>Filter_4</string>
				<key>filterName</key>
				<string>FWEarlybirdFilter</string>
				<key>level</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>Filter_5</string>
				<key>filterName</key>
				<string>FWWaldenFilter</string>
				<key>level</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>Filter_6</string>
				<key>filterName</key>
				<string>FWHefeFilter</string>
				<key>level</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>Filter_7</string>
				<key>filterName</key>
				<string>FWHudsonFilter</string>
				<key>level</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>Filter_8</string>
				<key>filterName</key>
				<string>FWInkwellFilter</string>
				<key>level</key>
				<string>1</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>Filter_9</string>
				<key>filterName</key>
				<string>GPUImageGrayscaleFilter</string>
				<key>level</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
