<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ProductCode</key>
		<string></string>
		<key>Name</key>
		<string>Default</string>
		<key>Path</key>
		<string></string>
		<key>isPurchase</key>
		<true/>
		<key>Front</key>
		<dict>
			<key>1125X2436</key>
			<dict>
				<key>texture</key>
				<string>{152,215},{151,112}</string>
				<key>shot</key>
				<string>{159,485},{792,1049}</string>
				<key>setting</key>
				<string>{96,1660},{102,102}</string>
				<key>type</key>
				<string>{252,1660},{102,102}</string>
				<key>filter</key>
				<string>{412,1660},{299,99}</string>
				<key>microphone</key>
				<string>{777,1660},{102,102}</string>
				<key>flashlight</key>
				<string>{939,1660},{102,102}</string>
				<key>album</key>
				<string>{68,1932},{260,260}</string>
				<key>record</key>
				<string>{325,1820},{483,483}</string>
				<key>change</key>
				<string>{808,1932},{260,260}</string>
			</dict>
			<key>1242X2208</key>
			<dict>
				<key>texture</key>
				<string>{213,121},{151,112}</string>
				<key>shot</key>
				<string>{220,368},{792,1049}</string>
				<key>setting</key>
				<string>{155,1540},{102,102}</string>
				<key>type</key>
				<string>{313,1540},{102,102}</string>
				<key>filter</key>
				<string>{473,1540},{299,99}</string>
				<key>microphone</key>
				<string>{836,1540},{102,102}</string>
				<key>flashlight</key>
				<string>{999,1540},{102,102}</string>
				<key>album</key>
				<string>{127,1810},{260,260}</string>
				<key>record</key>
				<string>{383,1700},{483,483}</string>
				<key>change</key>
				<string>{868,1810},{260,260}</string>
			</dict>
			<key>750X1334</key>
			<dict>
				<key>texture</key>
				<string>{131,73},{92,68}</string>
				<key>shot</key>
				<string>{133,221},{479,635}</string>
				<key>setting</key>
				<string>{93,932},{62,62}</string>
				<key>type</key>
				<string>{190,932},{62,62}</string>
				<key>filter</key>
				<string>{285,932},{181,61}</string>
				<key>microphone</key>
				<string>{505,932},{62,62}</string>
				<key>flashlight</key>
				<string>{603,932},{62,62}</string>
				<key>album</key>
				<string>{77,1095},{158,158}</string>
				<key>record</key>
				<string>{231,1027},{292,292}</string>
				<key>change</key>
				<string>{77,1095},{158,158}</string>
			</dict>
			<key>640X1136</key>
			<dict>
				<key>texture</key>
				<string>{111,61},{79,59}</string>
				<key>shot</key>
				<string>{113,186},{410,543}</string>
				<key>setting</key>
				<string>{79,794},{54,54}</string>
				<key>type</key>
				<string>{161,794},{54,54}</string>
				<key>filter</key>
				<string>{244,794},{155,53}</string>
				<key>microphone</key>
				<string>{431,794},{54,54}</string>
				<key>flashlight</key>
				<string>{513,794},{54,54}</string>
				<key>album</key>
				<string>{66,932},{135,135}</string>
				<key>record</key>
				<string>{198,875},{250,250}</string>
				<key>change</key>
				<string>{447,932},{135,135}</string>
			</dict>
			<key>640X960</key>
			<dict>
				<key>texture</key>
				<string>{113,51},{79,59}</string>
				<key>shot</key>
				<string>{115,164},{410,422}</string>
				<key>setting</key>
				<string>{82,616},{54,54}</string>
				<key>type</key>
				<string>{162,616},{54,54}</string>
				<key>filter</key>
				<string>{244,616},{155,53}</string>
				<key>microphone</key>
				<string>{432,616},{54,54}</string>
				<key>flashlight</key>
				<string>{514,616},{54,54}</string>
				<key>album</key>
				<string>{66,756},{135,135}</string>
				<key>record</key>
				<string>{200,698},{250,250}</string>
				<key>change</key>
				<string>{448,756},{135,135}</string>
			</dict>
		</dict>
		<key>Back</key>
		<dict>
			<key>1125X2436</key>
			<dict>
				<key>texture</key>
				<string>{152,215},{151,112}</string>
				<key>shot</key>
				<string>{159,485},{792,1049}</string>
				<key>setting</key>
				<string>{96,1660},{102,102}</string>
				<key>type</key>
				<string>{252,1660},{102,102}</string>
				<key>filter</key>
				<string>{412,1660},{299,99}</string>
				<key>microphone</key>
				<string>{777,1660},{102,102}</string>
				<key>flashlight</key>
				<string>{939,1660},{102,102}</string>
				<key>album</key>
				<string>{68,1932},{260,260}</string>
				<key>record</key>
				<string>{325,1820},{483,483}</string>
				<key>change</key>
				<string>{808,1932},{260,260}</string>
			</dict>
			<key>1242X2208</key>
			<dict>
				<key>texture</key>
				<string>{213,121},{151,112}</string>
				<key>shot</key>
				<string>{220,368},{792,1049}</string>
				<key>setting</key>
				<string>{155,1540},{102,102}</string>
				<key>type</key>
				<string>{313,1540},{102,102}</string>
				<key>filter</key>
				<string>{473,1540},{299,99}</string>
				<key>microphone</key>
				<string>{836,1540},{102,102}</string>
				<key>flashlight</key>
				<string>{999,1540},{102,102}</string>
				<key>album</key>
				<string>{127,1810},{260,260}</string>
				<key>record</key>
				<string>{383,1700},{483,483}</string>
				<key>change</key>
				<string>{868,1810},{260,260}</string>
			</dict>
			<key>750X1334</key>
			<dict>
				<key>texture</key>
				<string>{131,73},{92,68}</string>
				<key>shot</key>
				<string>{133,221},{479,635}</string>
				<key>setting</key>
				<string>{93,932},{62,62}</string>
				<key>type</key>
				<string>{190,932},{62,62}</string>
				<key>filter</key>
				<string>{285,932},{181,61}</string>
				<key>microphone</key>
				<string>{505,932},{62,62}</string>
				<key>flashlight</key>
				<string>{603,932},{62,62}</string>
				<key>album</key>
				<string>{77,1095},{158,158}</string>
				<key>record</key>
				<string>{231,1027},{292,292}</string>
				<key>change</key>
				<string>{77,1095},{158,158}</string>
			</dict>
			<key>640X1136</key>
			<dict>
				<key>texture</key>
				<string>{111,61},{79,59}</string>
				<key>shot</key>
				<string>{113,186},{410,543}</string>
				<key>setting</key>
				<string>{79,794},{54,54}</string>
				<key>type</key>
				<string>{161,794},{54,54}</string>
				<key>filter</key>
				<string>{244,794},{155,53}</string>
				<key>microphone</key>
				<string>{431,794},{54,54}</string>
				<key>flashlight</key>
				<string>{513,794},{54,54}</string>
				<key>album</key>
				<string>{66,932},{135,135}</string>
				<key>record</key>
				<string>{198,875},{250,250}</string>
				<key>change</key>
				<string>{447,932},{135,135}</string>
			</dict>
			<key>640X960</key>
			<dict>
				<key>texture</key>
				<string>{113,51},{79,59}</string>
				<key>shot</key>
				<string>{115,164},{410,422}</string>
				<key>setting</key>
				<string>{82,616},{54,54}</string>
				<key>type</key>
				<string>{162,616},{54,54}</string>
				<key>filter</key>
				<string>{244,616},{155,53}</string>
				<key>microphone</key>
				<string>{432,616},{54,54}</string>
				<key>flashlight</key>
				<string>{514,616},{54,54}</string>
				<key>album</key>
				<string>{66,756},{135,135}</string>
				<key>record</key>
				<string>{200,698},{250,250}</string>
				<key>change</key>
				<string>{448,756},{135,135}</string>
			</dict>
		</dict>
	</dict>
</array>
</plist>
